<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <%- helmet.title.toString() %>
  <%- helmet.meta.toString() %>
  <link rel="stylesheet" href="<%- manifest["main.css"] %>" />
<body>
  <div id="root"><%- content %></div>
  <div id="fullScreenGalleryContainer"></div>
  <script>window.INITIAL_STATE = <%- initialState %>;</script>
  <script src="<%- manifest["main.js"] %>"></script>
</body>
</html>